<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Runner">
    <test name="xml test">
        <parameter name="driverName" value="chrome"></parameter>
        <classes>
            <class name="Tests.com.APITest.slackHomework"></class>
        </classes>
    </test>
</suite>